@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

:root {
  --red-color: #f72210;
  --yellow-color: #ffe400;
  --white-transparency-color-1: #ffffffb9;
  --oswald-font: 'Oswald', sans-serif;
  --white-transparency-color-2: #ffffffde;
  --gray-color: #03030366;
  --gray-color-2:#f4f5f7;
  --arial-font: Arial, Helvetica, sans-serif;
}

.header {
  background-color: var(--red-color);
  position: sticky;
  top: 0;
  z-index: 5;
}

.section {
  background-color: white;
}

.footer {
  background-color: white;
}

.icon-user-navbar {
  color: var(--white-transparency-color-1);
}

.button-subscribe {
  color: black;
  background-color: var(--yellow-color);
  font-family: var(--oswald-font);
}

.button-subscribe:hover {
  background-color: var(--yellow-color);
  color: black;
}

.button-burger {
  color: var(--white-transparency-color-1);
}

.button-burger:hover {
  color: var(--white-transparency-color-1);
}

.button-botton-start-img {
  background-color: #c2d4d7;
  color: black;
}

.title-font-part-1 {
  font-family: var(--oswald-font);
}

.subtitle-font-part-1 {
  font-family: var(--arial-font);
  font-size: small;
}

.top-title-font-part-1 {
  color: var(--gray-color);
  font-family: var(--oswald-font);
}

.title-2-font-part-1 {
  font-family: var(--oswald-font);
}

.gray-separator {
  background-color: var(--gray-color-2);
}

.debate-autor-font-part-1 {
  color: black;
}

.debate-autor-font-part-2 {
  font-family: var(--oswald-font);
  color: #555555;
  font-size: 0.8rem;
}

.double-border-style {
  border-style: double none none none;
  color: #d9d9d9;
}

.vs-circle {
  height: 32px;
  width: 32px;
}

.title-section-fourth {
  color: #03030380;
}

.card-free-sign-up {
  background-color: #f4f5f6;
}

.img-icon-n {
  background: url(assets/logo-n1.svg) center/contain no-repeat #f72210;
  width: 29px;
  height: 28px;
  flex-shrink: 0;
}

.card-title-1 {
  font-family: var(--oswald-font);
}

.placeholder-text {
  font-family: var(--arial-font);
  font-size: 0.95rem;
}

.button-free-sign-up {
  background-color: var(--red-color);
  font-family: var(--oswald-font);
}

.icon-free-Sign-Up {
  font-size: 18px;
}

.in-the-magazine-title {
  font-family: var(--oswald-font);
  font-size: 1.2rem;
}

.button-botton-start-img-trump {
  background-color: #ffffffe6;
  color: var(--red-color);
}

.see-all-features-title {
  font-family: var(--oswald-font);
}

.features-title {
  background-color: var(--red-color);
  color: white;
}

.politics-title {
  color: var(--red-color);
}

.title-5-font-part-1 {
  font-family: var(--oswald-font);
  font-size: 16px;
}

.us-title {
  color: var(--red-color);
}

.title-font-part-6 {
  font-family: var(--oswald-font);
}

.title-color-red {
  color: var(--red-color);
}

.in-depth-stories {
  margin-top: 10rem;
}

.up-img-magazine {
  left: 43%;
  top: 0.5rem;
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.down-img-magazine {
  left: 33%;
  top: -0.5rem;
  z-index: 1;
}

.bg-gray-color {
  background-color: var(--gray-color-2);
}

.newsletter-bg-img {
  background: url(assets/img-87.png) center center / cover no-repeat;
  width: 100%;
}

.img-footer {
  width: 236px;
}

.icons-footer {
  color: #666666;
}

@media (max-width: 767.98px) {
  .newsletter-bg-img {
    height: 170px;
  }
}